# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "WZ3yrX4ABaZFyMYlqzzfKuIsP+k4qGHbjTMgzSY83A74BtCaNB+zyy1pXRWCEEda20pt6r+emp62S1bJrl8ZZTyHfDE2rvuhs/pNOkYSx8bS3zPGquX8mLcPH7yIsL20UV1/sWIs8CRIQos4eFUhl5PFqY1JtjOGRyeAD8wfdEdxSltwbWnJ7GoafBwHsO1r4ull/nV4HPksNXoCuaNBYhcNYavBmqURn8Z+ERLGgela59EAFi0YJ3siGZMzQ5BuWkzNl+fZzujL4ePJuz6FDrpVji5cdReM0mXnH9SS0StblzkOAJ3K/PX9JzLYSX88kJf1eDBrm257kcYZWFtKqamFVoajHGq5WDgw4mCQ1M2XXVmKcPXAyDTOHZfgT3ilihvvxB8+D2W8hjNobeocLYhXpt20Jdaqh7cmauCvxbRNllSTy3vGerd7+pIbFbyXcrtOlDY4tDS1IVW01QQv259jieiSUKJrspJXurCTiCUMofPkQ6MTIFBM6WU/LQI2VciMdR7hvdiL8hdoDhdwb8oAXrAB6btrtcg1epMLGX8eSYAYDuNcOB9nQ93y9d8WZRGxjqxEkgHSAP5lyoFSvAmnBSmsLmEb3O4T/RBgGhDUslbSKNVOcD4sWeYhXsAP4tDktTqU1DOt6udmUUt8E8IXESfw+cFc9tgahpV8y+k="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda update --yes conda
      conda install --yes conda-build=1.20.0 jinja2 anaconda-client
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
